p {
    max-width: 40em;
    line-height: 1.50;
}

table, tr, td, th {
    border: solid 1px #ddd;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

.vis-item.america {
    background-color: #759bc6;
    border-color: #4b637f;
}

.vis-item.asia {
    background-color: #c46e6a;
    border-color: #91534f;
}

.vis-item.brazil {
    background-color: #5faf89;
    border-color: #3c6d56;
}

.vis-item.europe {
    background-color: #f2e8bf;
    border-color: #bcb495;
}
